body {
  margin: 0;
}

header {
  background-color: rgb(168, 189, 117)
}

main {
  background-color: rgb(210, 217, 192)
}

menuToggler  {
  display: flex;
  flex-direction: column;
}
nav {
  display: flex;
  flex-direction: column;
  background-color: rgb(124, 124, 123);
  width relative: 15%;
}

nav a {
  background-color: rgb(168, 189, 117);
  color: black;
  flex-basis: auto;
  padding: 0.25em 0.5em;
  margin: 2em;
  flex-shrink: 0;
  transition: background-color 0.9s;
}

nav a:hover {
  background-color: white;
}
